body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
}

.container {
    margin-top: 10%;
    border-top: 10%;

}

form {
    margin-top: 20px;
    position: relative;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

/* Suggestions dropdown */
.input-container {
    position: relative;   /* makes #suggestions align under input */
    display: inline-block;
    width: 200px;
}

#city {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Suggestions dropdown */

#suggestions {
    margin-top:10px;
    /* border: 1px solid #ccc; */
    max-height: 150px;
    overflow-y: auto;
    background: white;
    position: absolute;
    width: 200px;
    z-index: 1000;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover,
.active-suggestion {
    background-color: #f0f0f0;
}

