<!DOCTYPE html>
<html>
<head>
    <title>Weather Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Weather Forecasting</h1>
        <form id="weatherForm">
            <div class="input-container">
                <input type="text" name="city" id="city" placeholder="Enter city" required autocomplete="off">
                <div id="suggestions"></div>
            </div>
                <button type="submit">Get Weather</button>
        </form>
        <div id="result"></div>

    </div>

    

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
